<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/index.css">
    <link rel="stylesheet" href="~/Content/lib.css">

    <link rel="stylesheet" href="~/Content/bootstrap.rtl.min.css">
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="~/Content/login.css">


    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>


    @* 后台 *@
    <script src="~/Scripts/sidebars.js"></script>
    <link href="~/Content/sidebars.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/notice.css">
    <script src="~/Content/tinymce/js/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/Content/tinymce/js/tinymce/langs/zh-Hans.js" referrerpolicy="origin"></script>
    <script src="~/Content/tinymce/js/tinymce/plugins/wordcount/plugin.min.js"></script>
    <link rel="stylesheet" href="~/Content/write.css">
    <title>@ViewBag.Title</title>
</head>

<body>
    <main style="max-height:100%;">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
            <a href="/" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <svg style="margin-left:35px" t="1664073954107" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                     p-id="6290" width="20" height="20">
                    <path d="M448.98 562c-124.26 0-225-100.74-225-225v-50c0-124.26 100.74-225 225-225h225v275c0 124.26-100.73 225-225 225z"
                          fill="#3E80F6" p-id="6291"></path>
                    <path d="M718.95 962h-540c-64.99 0-111.97-62.47-94.5-124.94l37.06-129.57c16.41-56.51 68.03-95.43 126.53-95.43H281c27.53 0 53.87 10.85 73.32 30.31l59.43 59.43c1.06 1.06 2.12 1.99 3.18 3.05 18.53 15.48 45.66 15.48 64.06 0 1.19-0.93 2.25-1.99 3.31-3.05l59.29-59.43c19.46-19.46 45.93-30.31 73.32-30.31H650c58.5 0 109.99 38.91 126.53 95.43l36.93 129.57C830.92 899.53 783.93 962 718.95 962z"
                          fill="#0C2E97" p-id="6292"></path>
                    <path d="M684.56 813H568.81c-14.33 0-25.96-11.63-25.96-25.96s11.63-25.96 25.96-25.96h115.75c14.33 0 25.96 11.63 25.96 25.96S698.89 813 684.56 813z"
                          fill="#1AADF9" p-id="6293"></path>
                    <path d="M925.92 337.89h-50.81v-11.76h17.98c9.57 0 17.31-7.74 17.31-17.31 0-9.57-7.74-17.31-17.31-17.31h-17.98v-19.1c36.79-7.97 64.46-40.7 64.46-79.84 0-45.09-36.68-81.81-81.77-81.81-45.09 0-81.77 36.71-81.77 81.81 0 39.15 27.67 71.87 64.46 79.84v132.58c0 9.57 7.74 17.31 17.31 17.31 9.57 0 17.31-7.74 17.31-17.31V372.5h50.81c9.57 0 17.31-7.74 17.31-17.31s-7.74-17.3-17.31-17.3zM810.65 192.56c0-26.03 21.16-47.19 47.16-47.19 26 0 47.16 21.16 47.16 47.19 0 26-21.16 47.16-47.16 47.16-26 0-47.16-21.16-47.16-47.16z"
                          fill="#FF4F4F" p-id="6294"></path>
                </svg>
                <span class="fs-5 fw-semibold">管理员</span>
            </a>

            <ul class="list-unstyled ps-0" style="margin-left:32px;font-size:18px">
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#home-collapse" aria-expanded="true">
                        <img src="~/Content/img/Manager/zl.png" style="height:23px" alt="">
                        总览
                    </button>
                    <div class="collapse show" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/Manager/Index" class="link-dark rounded">
                                    <svg t="1664073507460" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="1695" width="20" height="20">
                                        <path d="M870.324 691.708c-33.204-40.348-78.699-97.447-78.699-155.734l0-185.524c0-159.852-119.747-289.907-272.767-289.907-153.04 0-271.833 130.054-271.833 289.907l0 185.524c0 57.283-49.366 111.443-80.659 153.46-28.143 37.735-50.367 67.563-35.373 97.383 13.191 26.234 46.241 29.59 73.505 29.59l163.094 0c0.005 83.655 68.001 151.483 151.807 151.483 83.828 0 151.763-67.795 151.809-151.483l166.914 0c17.341 0 57.932 0 71.894-29.511 14.101-29.866-8.467-57.283-39.732-95.21zM519.372 908.364c-50.899 0-92.154-41.161-92.24-91.938l184.451 0c-0.007 50.774-41.341 91.938-92.219 91.938zM838.112 755.911l-633.619 0c-4.352 0-7.974-0.11-10.995-0.306 5.839-9.073 14.461-20.688 21.477-30.055 34.668-46.546 92.613-112.234 92.613-189.541l0-185.521c0-126.508 91.635-229.391 211.254-229.391s212.189 102.909 212.189 229.391l0 185.524c0 79.939 53.44 146.745 92.474 194.117 6.566 8.004 14.433 17.569 20.565 25.702-1.81 0.005-3.779 0.007-5.938 0.007z"
                                              p-id="1696"></path>
                                    </svg>
                                    系统通知
                                </a>
                            </li>
                            <li>
                                <a href="/BookManager/Index" class="link-dark rounded">
                                    <svg t="1664086630820" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="8819" width="20" height="20">
                                        <path d="M1009.371429 902.016522h-169.221225l59.910269-18.73084a38.648686 38.648686 0 0 0 22.889535-19.077747 38.640327 38.640327 0 0 0 2.672849-29.670923L702.355331 120.052506c-5.094922-16.346384-19.999347-27.328261-37.098058-27.328261-3.939265 0-7.853453 0.601861-11.619265 1.782596l-137.251526 42.882612c-1.316571 0.4096-2.591347 0.890253-3.830596 1.425241v-5.650808c0-21.447576-17.441437-38.897371-38.878564-38.897372h-144.697469a38.652865 38.652865 0 0 0-24.26462 8.555625 38.774073 38.774073 0 0 0-24.310596-8.555625H135.533714c-21.460114 0-38.922449 17.449796-38.922449 38.897372v768.852636H14.628571a14.628571 14.628571 0 1 0 0 29.257143h994.742858a14.628571 14.628571 0 1 0 0-29.257143z m-112.3328-51.392261a9.581714 9.581714 0 0 1-5.694694 4.733388l-137.236898 42.9056a9.508571 9.508571 0 0 1-2.858841 0.440947 9.759347 9.759347 0 0 1-9.232718-6.793927l-164.592327-526.762318 155.673078-48.623282 164.600685 526.739331a9.575445 9.575445 0 0 1-0.658285 7.360261zM724.371331 288.600816l-155.673078 48.623282-17.800882-56.967837 155.668898-48.631641 17.805062 56.976196z m-199.266221-123.28124l137.272425-42.888882a9.571265 9.571265 0 0 1 12.047673 6.338351l23.416163 74.931722-155.668898 48.631641-23.395265-74.877388c-1.586155-5.109551 1.251788-10.55138 6.327902-12.135444z m189.477617 736.696946h-202.028931v-646.373877l202.028931 646.373877zM319.356343 433.852082h163.94031v40.734302h-163.94031v-40.734302z m163.9424-29.257143h-163.94031v-143.174008h163.94031v143.174008z m-193.199543-104.328882H125.868408v-38.845126h164.230792v38.845126z m-164.230792 29.257143h164.230792v38.868114H125.868408v-38.868114z m193.487935 174.320327h163.94031V902.018612h-163.94031V503.843527z m9.62351-380.31987h144.697469a9.642318 9.642318 0 0 1 9.621421 9.640229v98.997812h-163.94031V133.165976a9.640229 9.640229 0 0 1 9.62142-9.642319z m-193.446139 0h144.868833c5.347788 0 9.696653 4.323788 9.696653 9.640229v98.997812H125.868408V133.165976c0-5.316441 4.338416-9.642318 9.665306-9.642319zM125.868408 397.648457h164.230792V902.018612H125.868408V397.648457z" p-id="8820">

                                        </path>
                                    </svg>
                                    作品管理
                                </a>
                            </li>
                            <li>
                                <a href="/CharptManager/Index" class="link-dark rounded">
                                    <svg t="1664073624027" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="2388" width="20" height="20">
                                        <path d="M960 64v908.736H64V64h896z m-68.928 69.888H132.928v768.896h758.144V133.888zM753.28 693.12v69.888H270.784V693.12h482.432zM477.568 553.28v69.952H270.72V553.28h206.72z m275.648-139.776v69.888H270.784V413.504h482.432zM477.568 273.728v69.888H270.72V273.728h206.72z"
                                              fill="#595959" p-id="2389"></path>
                                    </svg>
                                    章节管理
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                            data-bs-target="#dashboard-collapse" aria-expanded="true">
                        <svg t="1664073795895" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
                             p-id="4845" width="20" height="20">
                            <path d="M461.44 605.76v333.44H128a333.44 333.44 0 0 1 333.44-333.44z m0-41.664a249.984 249.984 0 0 1-250.112-250.048A249.984 249.984 0 0 1 461.44 64a249.984 249.984 0 0 1 250.048 250.048A249.984 249.984 0 0 1 461.44 564.096z m108.16 242.24a146.304 146.304 0 0 1 0-67.648l-41.408-23.872 41.664-72.192 41.344 23.872c16.64-15.744 36.672-27.328 58.56-33.856V584.96h83.328v47.68c22.208 6.592 42.24 18.368 58.56 33.856l41.344-23.872 41.664 72.192-41.344 23.872c5.312 22.208 5.312 45.376 0 67.584l41.344 23.872-41.6 72.192-41.408-23.872c-16.576 15.68-36.608 27.264-58.56 33.792V960h-83.328v-47.744a145.664 145.664 0 0 1-58.56-33.792l-41.344 23.872-41.6-72.192 41.28-23.808z m141.824-75.52a41.664 41.664 0 1 0 0 83.328 41.664 41.664 0 0 0 0-83.328z"
                                  p-id="4846"></path>
                        </svg>
                        用户管理
                    </button>
                    <div class="collapse show" id="dashboard-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li>
                                <a href="/AuthorManager/Index" class="link-dark rounded">
                                    <svg t="1664073846293" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="5214" width="20" height="20">
                                        <path d="M170.666667 938.666667c-46.933333 0-85.333333-38.4-85.333334-85.333334V170.666667c0-46.933333 38.4-85.333333 85.333334-85.333334h682.666666c46.933333 0 85.333333 38.4 85.333334 85.333334v682.666666c0 46.933333-38.4 85.333333-85.333334 85.333334H170.666667zM170.666667 192v640c0 12.8 8.533333 21.333333 21.333333 21.333333h640c12.8 0 21.333333-8.533333 21.333333-21.333333v-640c0-12.8-8.533333-21.333333-21.333333-21.333333h-640c-12.8 0-21.333333 8.533333-21.333333 21.333333z m277.333333 512l85.333333-85.333333H725.333333c25.6 0 42.666667 17.066667 42.666667 42.666666s-17.066667 42.666667-42.666667 42.666667h-277.333333z m-192 0V597.333333l294.4-294.4c8.533333-8.533333 21.333333-8.533333 29.866667 0l76.8 76.8c8.533333 8.533333 8.533333 21.333333 0 29.866667l-294.4 294.4H256z"
                                              p-id="5215"></path>
                                    </svg>
                                    作家管理
                                </a>
                            </li>
                            <li>
                                <a href="/UserManager/Index" class="link-dark rounded">
                                    <svg t="1664073897939" class="icon" viewBox="0 0 1024 1024" version="1.1"
                                         xmlns="http://www.w3.org/2000/svg" p-id="6126" width="20" height="20">
                                        <path d="M512 74.666667C270.933333 74.666667 74.666667 270.933333 74.666667 512S270.933333 949.333333 512 949.333333 949.333333 753.066667 949.333333 512 753.066667 74.666667 512 74.666667zM288 810.666667c0-123.733333 100.266667-224 224-224S736 686.933333 736 810.666667c-61.866667 46.933333-140.8 74.666667-224 74.666666s-162.133333-27.733333-224-74.666666z m128-384c0-53.333333 42.666667-96 96-96s96 42.666667 96 96-42.666667 96-96 96-96-42.666667-96-96z m377.6 328.533333c-19.2-96-85.333333-174.933333-174.933333-211.2 32-29.866667 51.2-70.4 51.2-117.333333 0-87.466667-72.533333-160-160-160s-160 72.533333-160 160c0 46.933333 19.2 87.466667 51.2 117.333333-89.6 36.266667-155.733333 115.2-174.933334 211.2-55.466667-66.133333-91.733333-149.333333-91.733333-243.2 0-204.8 168.533333-373.333333 373.333333-373.333333S885.333333 307.2 885.333333 512c0 93.866667-34.133333 177.066667-91.733333 243.2z"
                                              p-id="6127"></path>
                                    </svg>
                                    普通用户管理
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1" id="manindex" style="margin-top:10px">
                    <a style=" margin-left: 23px; font-weight: bold;" href="/Book/Index" class="link-dark rounded">
                        <img style="margin-top:-5px;height:23px" src="~/Content/img/Manager/index.png" alt="">
                        前往首页
                    </a>
                </li>
            </ul>

        </div>
        <div class="b-example-divider" style="width:1.2rem;"></div>
        <div id="right-content" class="right-content" style="width: 100%;height:950px;background: rgb(255, 255, 255)">
            @RenderBody()
        </div>
    </main>
    @RenderSection("scripts", required: true)
</body>
</html>
